.main-content {
	margin-top: 20px;
}

.report-header {
	margin-top: 20px;
}

.property-label {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.nav-tabs>li, .nav-pills>li {
	float: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-weight: bold;
}

.nav-tabs, .nav-pills {
	text-align: center;
}

@media only screen and (min-width:1049px) {
	.property-label-cont {
		height: 422px;
		line-height: 422px;
		text-align: center;
		width: 150px !important;
	}
}

.property-label-cont {
	text-align: center;
}

.property-report-btn {
	background-color: #37907A;
	color: #fff;
	/*border-radius: 0px;*/
}

.submenu-cont ul {
	width: 100%;
	text-align: center;
}

.submenu-cont ul li {
	display: inline-block;
	text-align: center;
}

.tablenav-pages-navspan, .tablenav-pages-navspan:after,
	.tablenav-pages-navspan:before {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.report-container {
	width: 98%;
}

.subsubsub {
	font-size: 13px;
}

.template-row {
	float: left;
	width: 100%;
}

.template-row::after, .template-row::before {
	content: " ";
	display: table;
}

.insert-button {
	margin-bottom: 3px !important;
}

.insert-lable {
	margin-bottom: 10px;
}

.insert-shortcode-cont {
	position: fixed;
	text-align: center;
	float: left;
}
.tablenav .actions {
	overflow: visible !important;
}

.tablenav-pages-navspan, .tablenav-pages-navspan:after,
	.tablenav-pages-navspan:before {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
/* p.search-box { float: right; margin: 0; vertical-align: middle; width: 30%; } */
.cpd_custom_filter .tt-query, .tt-hint {
	padding: 3px;
}

#filter-by-date {
	display: none
}

.wp-core-ui p .button {
	vertical-align: top !important;
}

.cpd_custom_filter .twitter-typeahead {
	width: auto !important;
	margin-right: 3px;
}

#filter-by-date {
	display: none
}

.modal {
	text-align: center;
	padding: 0 !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.city_typeahead_search, .county_typeahead_search,
	.state_typeahead_search, .sales_date_range, .multiselect {
	height: 28px;
}

.multiselect {
	padding-top: 3px;
}

.cpd_custom_filter .btn-group {
	margin-top: -3px;
}

.tablenav .bulkactions {
	margin-top: -1px;
	margin-right: -13px;
	height: 0px;
}
#poststuff .tablenav
{
	/*display: none;*/
}
.report_filters
{
	padding-top: 10px;
}